.masthead {
  list-style-type: none;
  background: #846f8d;
  margin: 0;
  padding: 0;
}

.masthead li {
  background: #846f8d;
  float: left;
  text-align: center;
  font-size: 250%;
  height: 150px;
  width: 100%;
}

.media-grid {
  list-style-type: none;
  background: #846f8d;
  margin: 0;
  padding: 0;
}

.media-grid li {
  background: #482955;
  float: left;
  height: 500px;
  width: 40%;
}

.media-grid li:nth-child(even) {
  background: #846f8d;
}

.media-grid.media-grid-sm li {
  width: 20%;
  height: 250px;
}

.media-grid.media-grid-sm img {
  width: 253px;
  height: 250px;
}

.hero-unit {
  list-style-type: none;
  background: #380b61;
  margin: 0;
  padding: 0;
}

.hero-unit li {
  background: #380b61;
  float: left;
  text-align: center;
  height: 600px;
  width: 100%;
}

.hero-unit img {
  padding-top: 100px;
  padding-bottom: 100px;
  width: 50%;
  height: 400px;
}

.about-me {
  list-style-type: none;
  background: #240b3b;
  margin: 0;
  padding: 0;
}

.about-me li {
  background: #240b3b;
  float: left;
  height: 200px;
  width: 100%;
}
